@import "tailwindcss";

/* Optional: refine selection & scroll */
*::selection {
  background: #a594f9;
  color: #2b2653;
}

/* Smooth page appearance for SSR/CSR swaps */
html,
body,
#root {
  height: 100%;
}
:root {
  --color-background: #e5d9f2;
  --color-foreground: #2b2653;
  --color-card: #ffffff;
  --color-card-foreground: #36013f;
  --color-primary: #7371fc;
  --color-primary-2: #a594f9;
  --color-primary-3: #cdc1ff;
  --color-primary-4: #36013f;
  --color-bg-1: #f5efff;
  --color-bg-2: #e5d9f2;
  --color-border: #cdc1ff;
}

@theme {
  --color-background: #e5d9f2;
  --color-foreground: #2b2653;
  --color-card: #ffffff;
  --color-card-foreground: #36013f;
  --color-primary: #7371fc;
  --color-primary-2: #a594f9;
  --color-primary-3: #cdc1ff;
  --color-primary-4: #36013f;
  --color-bg-1: #f5efff;
  --color-bg-2: #e5d9f2;
  --color-border: #cdc1ff;
}

/* Now you can use bg-background */
body {
  background-color: var(--color-background);
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  --c: no-repeat radial-gradient(farthest-side, #306d61 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 10px 10px;
  animation: l18 1s infinite;
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: 3px;
  background: repeating-conic-gradient(#0000 0 35deg, #306d61 0 90deg);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  border-radius: 50%;
}

@keyframes l18 {
  100% {
    transform: rotate(0.5turn);
  }
}
